body{
    margin: 0px;
    padding: 0px ;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

}
.container{
    padding: 20px;
    background-color: #3498;
    color: aliceblue;
    border-radius: 30px;

}
.input{
    width: 100%;
    font-size: medium;
}
#final{
    font-weight:bolder;
    font-size:20px
}
